# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Quebra de linhas
[*]
end_of_line = lf
insert_final_newline = true

# Definindo charset
[*.{js,pug,html}]
charset = utf-8

# Indentação via TAB, para pug e html
[*.{pug,html,php}]
indent_style = tab
indent_size = 4

# Arquivos JS e CSS
[*.{js,css,styl}]
indent_style = tab
indent_size = 2

# Demais arquivos importantes
[*.json]
indent_style = tab
indent_size = 2
